body {
    font-family: 'Roboto Slab', serif;
}

nav {
    background: #008B8B;
}

.brand-logo {
    margin-left: .5em;
}

h1 {
    color: white;
}

h5 {
    margin-left: 1em;
}

#orderButton {
    display: flex;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responsive-img {
    opacity: .7;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cardBackground {
    background: #008B8B;
    color: white;
    padding: 1em;

}

.food-quantity-container {
    width: 30vw;
}

.food-container {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

#orderListContainer {
    display: flex;
    flex-direction: row;
}

select {
    display: flex;
}

#submitButton {
    margin-left: 9em;
}

li {
    font-size: 1.2em;
    margin-left: .5em;
}

p {
    font-size: 1.2em;

}

.frogLeg {
    font-size: 1.6em;
}

#save-status {
    text-align: center;
    opacity: 0;
    transition: opacity .5 ease-in-out;
    font-size: 3em;
}

.order-container {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
}

#form-container {
    width: 40vw;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
}