body {
    font-family: 'Roboto Slab', serif;
}

nav {
    background: #008B8B;
}

h1 {
    color: white;
}

.order-container {
    border: solid 1px black;
    display: flex;
    flex-direction: row;

}

#orderButton {
    display: flex;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responsive-img {
    opacity: .7;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#cardBackground {
    background: #008B8B;

}

.food-quantity-container {
    width: 30vw;
}

.food-container {
    display: flex;
    flex-direction: column;
    margin: 5em;
}

#orderListContainer {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

select {
    display: flex;
}

#submitButton {
    margin-left: 9em;
}

li {
    font-size: 1.2em;
}

p {
    font-size: 1.2em;

}

.frogLeg {
    font-size: 1.6em;
}

#save-status {
    text-align: center;
    opacity: 0;
    transition: opacity .5 ease-in-out;
    font-size: 3em;
}